[Desktop Entry]
Name=Qur’ān Hadith
Version=0.1.0
Comment=Qur’ān Hadith is an Online reader with fashion interface, smooth performance and more features. It sharpens your focus on what you are reading or listening.
Exec=quran-hadith
Icon=${SNAP}/meta/gui/Logo.png
Terminal=false
Type=Application
Categories=Education
GenericName=QH
StartupNotify=true
Keywords=Islam,Quran,Hadith,Education,Flutter;